{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="index.css" type="text/css" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skystore</title>
    <link rel='stylesheet' href="{% static 'css/index.css'%}" >
</head>
<body>
  <div class="container custom">
    <h1 class="text-center">Привет Django</h1>
    <img class="w-50 mx-auto d-block" src="{% static 'img/cosmo_cat.png' %}" alt="photo">
  </div>
<div class="index_button">
    <div class="text">
        <hi>Вклад</hi>
    </div>
</div>
</body>
</html>